.idea/
.vscode/

### Put all ignroed data here ###
services/**/.env
frontend/.env
### Put all ignroed data here ###

services/**/target/
services/**/.mvn/wrapper/maven-wrapper.jar

frontend/node_modules